<form [formGroup]="formUserFormGroup" (ngSubmit)="enviarFormGroup()">
  <div class="form-group">
    <label for="nuevoNombreFormGroup">Name</label>
    <input type="text" id="nuevoNombreFormGroup" name="nuevoNombreFormGroup" formControlName="nombreFormGroup" class="form-control" placeholder="Enter Name">
    <div [hidden]="nombreFormGroup.invalid">Campo válido</div>
    <div [hidden]="nombreFormGroup.valid || nombreFormGroup.pristine">Campo inválido</div>
  </div>
  <div class="form-group">
    <label for="nuevoCorreoFormGroup">correo</label>
    <input type="email" id="nuevoCorreoFormGroup" name="nuevoCorreoFormGroup" formControlName="correoFormGroup" class="form-control" placeholder="Enter email">
    <div [hidden]="correoFormGroup.invalid">Campo válido</div>
    <div [hidden]="correoFormGroup.valid || correoFormGroup.pristine">
        <span *ngIf="correoFormGroup.errors?.['required']">Campo inválido</span>
        <span *ngIf="correoFormGroup.errors?.['email']">Campo debe ser correcto</span>
    </div>
  </div>
  <button type="submit" class="btn btn-primary mt-2" [disabled]="formUserFormGroup.invalid">Submit</button>
</form>

<form [formGroup]="formUserFormBuilder" (ngSubmit)="enviarFormBuilder()">
  <div class="form-group">
    <label for="nuevoNombreFormBuilder">Name</label>
    <input type="text" id="nuevoNombreFormBuilder" name="nuevoNombreFormBuilder" formControlName="nombreFormBuilder" class="form-control" placeholder="Enter Name">
    <div [hidden]="nombreFormBuilder.invalid">Campo válido</div>
    <div [hidden]="nombreFormBuilder.valid || nombreFormBuilder.pristine">Campo inválido</div>
  </div>
  <div class="form-group">
    <label for="nuevoCorreoFormBuilder">correo</label>
    <input type="email" id="nuevoCorreoFormBuilder" name="nuevoCorreoFormBuilder" formControlName="correoFormBuilder" class="form-control" placeholder="Enter email">
    <div [hidden]="correoFormBuilder.invalid">Campo válido</div>
    <div [hidden]="correoFormBuilder.valid || correoFormBuilder.pristine">
        <span *ngIf="correoFormBuilder.errors?.['required']">Campo inválido</span>
        <span *ngIf="correoFormBuilder.errors?.['email']">Campo debe ser correcto</span>
    </div>
  </div>
  <button type="submit" class="btn btn-primary mt-2" [disabled]="formUserFormBuilder.invalid">Submit</button>
</form>


<!-- <form #personalDataForm="ngForm" (ngSubmit)="CreateUser(personalDataForm.value, 1)">
  <-- 00. NOMBRE DEL EPLEADO ->
  <div class="form-row">
      <div class="col-sm-12 col-md-12 col-lg-12 mb-1">
          <h1>Nombre Completo</h1>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-3 mb-1">
          <div class="form-group">
              <label class="form-control-label" for="firstName">
                  <span class="text-red">*</span> Primer Nombre
              </label>
              <div [ngClass]="{ focused: focus01 === true }">
                  <input type="text" name="firstName" id="firstName" #firstName="ngModel" [(ngModel)]="personalData.firstName"
                  placeholder="Primer Nombre" class="form-control" 
                  mask="000000000000000000000000000000000000000000000" [patterns]="wordPatterns"
                  [ngClass]="{ 'is-invalid': firstName.invalid && (firstName.dirty || firstName.touched), 'is-valid': firstName.dirty && firstName.valid }" 
                  (focus)="focus01 = true"
                  (blur)="focus01 = false"
                  required/>
                  <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="invalid-feedback">
                      <div *ngIf="firstName.errors.required">El primer nombre es requerido</div>
                  </div>
                  <div *ngIf="firstName.valid" class="valid-feedback">Campo v&aacute;lido</div>
              </div>
          </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-3 mb-1">
          <div class="form-group">
              <label class="form-control-label" for="secondName">Segundo Nombre</label>
              <div [ngClass]="{ focused: focus02 === true }">
                  <input type="text" name="secondName" id="secondName" #secondName="ngModel" [(ngModel)]="personalData.secondName" 
                  placeholder="Segundo Nombre" class="form-control"
                  mask="000000000000000000000000000000000000000000000" [patterns]="wordPatterns"
                  [ngClass]="{ 'is-invalid': secondName.invalid && (secondName.dirty || secondName.touched), 'is-valid': secondName.dirty && secondName.valid }" 
                  (focus)="focus02 = true"
                  (blur)="focus02 = false"
                  />
                  <div *ngIf="secondName.invalid && (secondName.dirty || secondName.touched)" class="invalid-feedback">
                      <div *ngIf="secondName.errors.required">El segundo nombre es requerido</div>
                  </div>
                  <div *ngIf="secondName.valid" class="valid-feedback">Campo v&aacute;lido</div>
              </div>
          </div>
      </div>
  </div>
  <-- NEXT BUTTON ->
  <div class="form-row">
      <div class="col-sm-12 col-md-12 col-lg-12 mb-3 text-center">
          <button id="step1Button" name="step1Button" [disabled]="personalDataForm.invalid" class="btn btn-outline-info btn-icon my-2" type="submit">
              <span class="btn-inner--text">Siguiente</span>

              <span class="btn-inner--icon">
                  <i class="fas fa-arrow-right"></i>
              </span>
          </button>
      </div>
  </div>
</form> -->
