<div class="container mt-3">
  <div class="row">
    <div class="col-4 my-2">
      <app-ng-button></app-ng-button>
    </div>
    <div class="col-4 my-2">
      <app-ng-counter></app-ng-counter>
    </div>
    <div class="col-4 my-2">
      <app-ng-if></app-ng-if>
    </div>
    <div class="col-4 my-2">
      <app-ng-for></app-ng-for>
    </div>
    <div class="col-4 my-2">
      <app-ng-switch></app-ng-switch>
    </div>
    <div class="col-4 my-2">
      <app-ng-form-tamplate></app-ng-form-tamplate>
    </div>
    <div class="col-12 my-2">
      <app-ng-form-reactive></app-ng-form-reactive>
    </div>
    <div class="col-4 my-2">
      <app-ng-component-input></app-ng-component-input>
    </div>
    <div class="col-4 my-2">
      <app-ng-component-output></app-ng-component-output>
    </div>
    <div class="col-4 my-2">
      <app-ng-services></app-ng-services>
    </div>
  </div>
</div>