<div class="card">
  <div class="card-header">
    <h4 id="formulario_con_base_a_una_plantilla">Formulario con base a una plantilla</h4>
  </div>
  <div class="card-body">
    <!-- <h5 class="card-title">Special title treatment</h5> -->
    <p class="card-text">
      Se utiliza la propiedad <kbd>(ngSubmit)</kbd> para enviar a un servicio el formulario.
    </p>
    
    <p class="card-text">
      Se utiliza la propiedad <kbd>[(ngModel)]</kbd>, para identificar el valor de un <code>input</code> por medio de una variable,
      y se indica que los valores son <code>required</code> mostrando un mensaje de campo válido o inválido por medio de la 
      propiedad <kbd>[hidden]</kbd>.
    </p>

    <form id="formulario" name="formulario" #formulario="ngForm" (ngSubmit)="enviar()">
      <div class="form-group">
        <label for="newName">Name</label>
        <input type="text" id="newName" name="newName" #newName="ngModel" [(ngModel)]="persona.nombre" class="form-control" placeholder="Enter name" required>
        <div [hidden]="newName.invalid">
          Campo valido
        </div>
        <div [hidden]="newName.valid || newName.pristine">
          Campo inválido
        </div>
      </div>
      <div class="form-group">
        <label for="newAge">Age</label>
        <input type="number" id="newAge" name="newAge" #newAge="ngModel" [(ngModel)]="persona.edad" class="form-control" placeholder="Enter newAge" required>
        <div [hidden]="newAge.invalid">
          Campo valido
        </div>
        <div [hidden]="newAge.valid || newAge.pristine">
          Campo inválido
        </div>
      </div>
      <button type="submit" class="btn btn-primary mt-2" [disabled]="formulario.invalid">Ingresar</button>
    </form>
  </div>
</div>

<!-- {{ formulario.noValidate }} -->
<!-- {{ persona.nombre }}
{{ persona.edad }}
{{ newName.errors }}
{{ newName.valid }} -->

<!-- <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <div class="card-text">
        <form (ngSubmit)="enviar()" class="was-validated">
          <div class="form-group">
            <label for="newName">Name</label>
            <input type="text" id="newName" name="newName" #newName="ngModel" [(ngModel)]="persona.nombre" class="form-control" aria-describedby="newNameHelp" placeholder="Enter name" required>
            <div class="valid-feedback" [hidden]="newName.valid || newName.pristine">
              Campo valido
            </div>
            <div class="invalid-feedback" [hidden]="newName.valid || newName.pristine">
              Campo inválido
            </div>
          </div>
          <div class="form-group">
            <label for="newAge">Age</label>
            <input type="number" id="newAge" name="newAge" #newAge="ngModel" [(ngModel)]="persona.edad" class="form-control" placeholder="Enter newAge" required>
            <div class="valid-feedback">
              Campo valido
            </div>
            <div class="invalid-feedback">
              Campo inválido
            </div>
          </div>
          <button type="submit" class="btn btn-primary mt-2" [disabled]="">Ingresar</button>
        </form>
      </div>
    </div>
  </div> -->