<h1>Curso de Angular</h1>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h5>10. Servicios</h5>
            <app-ng-services></app-ng-services>
        </div>
        <div class="col-4">
            <h5>9. Component Output (Component communication)</h5>
            <app-ng-component-output></app-ng-component-output>
        </div>
        <div class="col-4">
            <h5>8. Component Input (Component communication)</h5>
            <app-ng-component-input></app-ng-component-input>
        </div>
        <div class="col-4">
            <h5>7. Form Reactive (Reactive form)</h5>
            <app-ng-form-reactive></app-ng-form-reactive>
        </div>
        <div class="col-4">
            <h5>6. Form Template (tamplate form)</h5>
            <app-ng-form-tamplate></app-ng-form-tamplate>
        </div>
        <div class="col-4">
            <h5>5. ng switch</h5>
            <app-ng-switch></app-ng-switch>
        </div>
        <div class="col-4">
            <h5>4. ng for</h5>
            <app-ng-for></app-ng-for>
        </div>
        <div class="col-4">
            <h5>3. ng if</h5>
            <app-ng-if></app-ng-if>
        </div>
        <div class="col-4">
            <h5>2. Botones</h5>
            <app-botones></app-botones>        
        </div>
        <div class="col-4">
            <h5>1. Contador</h5>
            <app-contador></app-contador>
        </div>
    </div>
</div>

<router-outlet />
