<h1>Curso de Angular</h1>

<!-- 
    routerLink: hace referencia a la página que se desea navegar y evita que la página cargue completamente al navegar de un lugar a otro.
    routerLinkActive: permite agregar a la class la propiedad active o segun lo necesites
 -->
<nav>
  <ul class="container list-group">
    <li><a class="list-group-item" routerLink="home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
    <li><a class="list-group-item" routerLink="cursos" routerLinkActive="active" ariaCurrentWhenActive="page">Cursos</a></li>
    <li><a class="list-group-item" routerLink="about" routerLinkActive="active" ariaCurrentWhenActive="page">About</a></li>
    <li><a class="list-group-item" routerLink="contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a></li>
    <li><a class="list-group-item" routerLink="botones" routerLinkActive="active" ariaCurrentWhenActive="page">Not found</a></li>
  </ul>
</nav>

<router-outlet />