<div class="container">
    <form>
      <div class="form-group mb-4">
        <label for="newDay">Día</label>
        <input type="newDay" #newDay class="form-control" id="newDay" aria-describedby="newDayHelp" placeholder="Enter day">
        <small id="newDayHelp" class="form-text text-muted">We'll never share your name with anyone else.</small>
      </div>
      <button type="button" (click)="showDay(newDay.value)" class="btn btn-primary">Submit</button>
    </form>
</div>

<div [ngSwitch]='dia' *ngIf="dia">
    <span *ngSwitchCase='1'>Lunes</span>
    <span *ngSwitchCase='2'>Martes</span>
    <span *ngSwitchCase='3'>Miercoles</span>
    <span *ngSwitchCase='4'>Jueves</span>
    <span *ngSwitchCase='5'>Viernes</span>
    <span *ngSwitchCase='6'>Sabado</span>
    <span *ngSwitchCase='7'>Domingo</span>
    <span *ngSwitchDefault>No valido</span>
</div>
